[submodule "libspin"]
	path = libspin
	url = https://github.com/SwarmArch/libspin.git
[submodule "plsalloc"]
	path = plsalloc
	url = https://github.com/SwarmArch/plsalloc.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/SwarmArch/runtime.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/SwarmArch/googletest.git
	branch = v1.10.x
